$bg-primary: #FCFEFB;
$text-primary: #282727;
$text-secondary: #2E4F61;
$bg-secondary: #F5F5F5;
$accent: #EB5E28;
$starla-black: #00121F;
$starla-dblue: #00224D;
$starla-blue: #175C9A;
$starla-bgray: #6C95C1;
$starla-white: #F5F5F5;
$starla-light: #B5E4FD;
$starla-accent: #CC3B3B;
$starla-soft-accent: #136229;