---
import Container from "../layouts/Container.astro";
import { Icon } from "astro-icon/components";
import Link from "../layouts/Link.astro";
---

<Container title="miladin.dev">
	<main class="divide-y divide-dashed text-sm">
		<section
			class="hover:underline hover:decoration-dashed hover:decoration-starla-light hover:decoration-1 underline-offset-2"
		>
			<p>
				I'm a software engineer with interests in Go, containerized
				infrastructure, distributed systems, databases and few other
				things. Learning Rust/ML.
			</p>
		</section>
		<section
			class="hover:underline hover:decoration-dashed hover:decoration-starla-light hover:decoration-1 hover:underline-offset-2"
		>
			<p>
				For the previous two years I’ve been part of <Link
					href="https://strong.network"
				>
					<span
						class="underline underline-offset-2 hover:decoration-starla-accent hover:decoration-2"
						>strong.network</span
					></Link
				>
				team, where we work on creating cloud dev environment platform that
				enables VS Code to run remotely inside a browser, with focus on security
				and compliance.
			</p>
			<p>Cool things I did in between coffee breaks:</p>
			<ul>
				<li>
					Created and contributed to custom HTTP & DNS proxies using
					Go, making it in compliance with platform enforced network
					policies.
				</li>
				<li>
					Implemented end-to-end encryption between the services
					inside the cluster.
				</li>
				<li>Developed real-time logs of workspace/pod state.</li>
				<li>
					Created a WebSocket-based web terminal for SSH connections
					to the remote dev environment.
				</li>
			</ul>
		</section>
		<section class="flex gap-24 pt-32 justify-center text-starla-black">
			<Link href="https://github.com/miladin-dev">
				<Icon
					name="links/github"
					title="GitHub"
					size="20"
					class="text-starla-dblue hover:text-starla-blue drop-shadow-md"
				/>
			</Link>
			<Link href="https://www.linkedin.com/in/miladindev/">
				<Icon
					name="links/linkedin"
					title="LinkedIn"
					size="20"
					class="text-starla-dblue hover:text-starla-blue drop-shadow-md"
				/>
			</Link>
			<Link href="mailto:miladindev@gmail.com">
				<Icon
					name="links/envelope-fill"
					title="Email"
					size="20"
					class="text-starla-dblue hover:text-starla-blue drop-shadow-md"
				/>
			</Link>
			<Link href="https://x.com/wonydev">
				<Icon
					name="links/x"
					title="X/Twitter"
					size="20"
					class="text-starla-dblue hover:text-starla-blue drop-shadow-md"
				/>
			</Link>
		</section>
	</main>
</Container>

<style lang="scss">
	ul {
		padding-left: 1rem;
		li {
			list-style-type: circle;
		}
	}
	main > section {
		padding: 1.5rem 0;
	}
</style>
