<header class="mb-8">
    <h1 class="text-5xl miladin-header">
        <div class="flex flex-row font-extrabold flex-wrap">
            <div>
                <span class="text-starla-blue">miladin.</span>
            </div>
            <div>
                <span class="text-starla-blue">dev</span><span
                    class="text-starla-bgray">edzic</span
                >
            </div>
        </div>
    </h1>
    <!-- <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
    </nav> -->
</header>
